# Configuración del Servidor
PORT=3000

# Base de Datos (MongoDB)
# URI de conexión local (entregada por el DBA)
DB_URI=mongodb://dev_sabor:DevPassword2026@127.0.0.1:27017/sabor_gestion

# JWT Secret para la autenticación (Sección 4.9.2)
JWT_SECRET=tu_super_secreto_aqui_para_desarrollo